body{
    top:0;
    padding:0;
    font-family:sans-serif;
}
img{
    position: absolute;
    width:500px;
    height: 400px;
    border-radius: 30px;
}

h1{
    text-align: center;
    font-size: 40px;
}

#image1{
    top:130px;
    left: 230px;
    box-shadow: 5px 5px 8px 5px #888888
}
#image2{
    top:680px;
    left:54%;
    box-shadow: 5px 5px 8px 5px #888888
}

.p1{
    margin-left: 50%;
    margin-top: 30px;
    width:500px;
}

.p2{
    margin-left: 50%;
    width:500px;
}

.p3{
    margin-left: 12%;
    width:500px;
    margin-top: -50px;
}

.p4{
    margin-left: 12%;
    width:500px;
}

.top{
    margin-bottom: 100px;
}
.below{
    margin-bottom: 50px;
}
span{
    font-size: 70px;
}
.container{
    margin-left: 70px;
}
#back{
    font-size: 20px;
    text-align: center;
    margin-bottom: 70px;
    text-decoration: none;
}
#backA{
    text-decoration: none;
}

#backA:hover{
    text-decoration: underline solid 3px;
}